* {
  box-sizing: border-box;
}
a {
  color: #e95e4c;
}
a img {
  border: none;
}
body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #8d8f92;
}

#root, .root {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -400px;
  /*background-color: rgba(0, 200, 200, 0.1);*/
}
.header{
  padding: 20px 0;
  background: url(img/dotted.png) left bottom repeat-x;
}
header.header p {
  position: absolute;
  line-height: 45px;
/*  margin-left: 3.4em;*/
  font-size: 40px;
  font: arial;
}
header.header #role {
  margin-top: 50px;
}
header.header a {
  margin-left: 44%;
}
header.header .logo {
  float: left;
  width: 100px;
  display: block;
}
header.header img {
  border-radius: 50%;
}
header.header nav {
  height: 95px;
  line-height: 95px;
  text-align: right;
}
header.header nav a {
  color: #8d8f92;
  display: inline-block;
  margin-left: 35px;
  text-decoration: none;
}
header.header nav a:hover {
  text-decoration: none;
  color: red;
}
header.header nav a.active {
  color: red;
}
h1, h2, h3, h4 {
  margin-bottom: 24px;
  color: #333;
  font-family: "Kreon", serif;
}
h1 {
  margin-top: 24px;
  display: inline-block;
  margin-right: 5px;
  font-size: 26px;
}
.subtitle {
  display: inline-block;
  font-size: 14px;
  font-style: italic;
  color: #8d8f92;
}
hr {
  height: 1px;
  background: url(img/dotted.png) left bottom repeat-x;
  margin: 0 0 24px 0;
  border: none;
}
#portfolio {
  width: 100%;
}
section.works article {
  display: inline;
  float: left;
  margin-left: 5%;
  width: 20%;
}
section.works article .thumb {
  background: url(img/link.png) center center white no-repeat;
}
section.works article .thumb:hover img {
  filter: progid:DXimageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  margin-left: -14px;
}
section.works article .thumb img {
  opacity: 1;
  transition-duration: 0.5s;
}
section.works article a {
  display: block;
  height: 120px;
  margin-bottom: 1%;
}
* html section.works article {
  overflow-x: hidden;
}
section.works article h3 {
  font-size: 16px;
  margin-bottom: 1%;
}
section.works article em {
  display: block;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 8%;
}
section.works article aside {
  display: none;
}
.last {
  margin-right: 0!important;
}
.cb {
  clear: both;
}
section.work {
  margin-bottom: 24px;
  position: relative;
  height: 450px;
  background: url(img/dotted.png) left top repeat-x, url(img/dotted.png) left bottom repeat-x;
}
section.work .slideshow {
  background: url(img/browser.png) left bottom no-repeat;
  width: 488px;
  height: 433px;
  overflow: hidden;
  position: absolute;
  top: 15px;
}
section.work .nivoSlider {
  width: 300%;
  height: 433px;
}
.nivo-imageLink img {
  padding-top: 3.5%;
  padding-left: 1%;
}
section.work a {
  color: inherit;
}
section.work .infos {
  padding-left: 535px;
  padding-top: 46px;
/*  width: 405px;*/
}
section.work .infos h3 {
  font-size: 24px;
  margin-bottom: 7px;
}
section.work .infos em {
  display: block;
  font-style: italic;
  margin-bottom: 7px;
}
section.work .content{
  width: 360px;
}
section.projects {
  display: none;
}
section.projects article .thumb {
  float: left;
  margin-left: 19%;
  margin-right: 40px;
  margin-bottom: 10px;
}
section.projects article h2 {
  font-size: 16px;
  margin-left: 30px;
  padding-bottom: 150px;
}
section.skills {
  display: none;
}
section.skills .col {
  display: inline;
  float: left;
  margin-left: 16%;
  margin-right: 4%;
  margin-bottom: 10px;
  width: 135px;
  text-align: center;
}
section.skills .col p {
  margin-bottom: 10px;
}
section.contact {
  display: none;
}
section.contact div {
  margin-bottom: 30px;
}
#footer {
  position: relative;
  height: 400px;
}
footer.footer {
  border-top: solid 5px #e1e5ea;
  background: #ebeef1;
}
footer.footer h4 {
  margin-bottom: 10px;
}
footer.footer .social {
  width: 20%;
  float: right;
}
footer.footer .social h4{
  width: 150px;
}
h4 {
  font-size: 1.125em;
}
p {
  margin-bottom: 1.5em;
}

@media all and (min-width: 800px) and (max-width: 1024px)
{
    section.works article {
      display: inline;
      float: left;
      margin-left: 0.2%;
      margin-right: 5.5%;
      width: 20%;
    }

    section.skills .col {
      display: inline;
      float: left;
      margin-left: 11.4%;
      margin-right: 4%;
      margin-bottom: 10px;
      width: 135px;
      text-align: center;
    }
}
